<div fxLayout="column" fxFlex fxLayoutAlign="start stretch">
    <mat-card>
        <mat-card-title>
            <mat-toolbar-row>
                <span>Todo Add</span>
                <span class="example-spacer"></span>
                <button class="example-icon" mat-icon-button color="accent" matTooltip="List" routerLink="/todos/list"
                    aria-label="Todo list">
                    <mat-icon>list</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="container" fxFlexFill fxLayoutGap style="padding-top: 10px;">
                <form name="addTodoForm" (ngSubmit)="onSubmit()" novalidate #addTodoForm="ngForm">

                    <mat-form-field fxFlexFill>
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="newTodo.category" name="type" required #type="ngModel">
                            <mat-option *ngFor="let type of ticketTypes" [value]="type.value">
                                {{type.text}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="type.invalid && (type.dirty || type.touched)">This field is required</mat-error>
                        <mat-hint>Select type of Todo</mat-hint>
                    </mat-form-field>

                    <mat-form-field fxFlexFill>
                        <mat-label>Priority</mat-label>
                        <mat-select [(ngModel)]="newTodo.priority" name="priority" required
                            #priority="ngModel">
                            <mat-option *ngFor="let priority of priorities" [value]="priority.value">
                                {{priority.text}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="priority.invalid && (priority.dirty || type.touched)">This field is required</mat-error>
                        <!-- <mat-hint>Select Priorty of issue</mat-hint> -->
                    </mat-form-field>

                    <mat-form-field fxFlexFill>
                        <mat-label>Due Date</mat-label>
                        <input matInput [matDatepicker]="picker" [min]="minDate" name="dueDate"
                            [(ngModel)]="newTodo.dueDate" required #dueDate="ngModel">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)">This field is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlexFill>
                        <mat-label>Todo Description</mat-label>
                        <textarea type="text" matInput autocomplete="on" placeholder="Todo Description" rows="10"
                            cols="5" name="text" [(ngModel)]="newTodo.text" required #text="ngModel"></textarea>
                        <mat-error *ngIf="text.invalid && (text.dirty || text.touched)">This field is required
                        </mat-error>
                    </mat-form-field>

                    <section fxFlexFill>
                        <mat-slide-toggle [(ngModel)]="newTodo.complete" name="complete" #complete="ngModel">
                            Mark Complete
                        </mat-slide-toggle>
                    </section>

                    <div style="margin-top: 10px;" align="right">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="(!addTodoForm.form.valid || disableButton)" mat-button>Add</button>
                        <button class="mt-5" mat-stroked-button color="accent" type="button" routerLink="/todos/list">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>